{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <main>
        <div class="container-fluid" style="padding-left:85px;padding-top: 56px;padding-right: 139px;">
            <div class="container-fluid">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a style="color: #007BFF" class="flex-sm-fill text-sm-center nav-link" href="{% url 'dashboard' %}">Waiting
                        for
                        approval
                        ({{ total_to_approve }})</a>
                    <a class="flex-sm-fill text-sm-center nav-link active"
                       href="{% url 'dashboard_orders' %}">All orders</a>
                    <a style="color: #007BFF" class="flex-sm-fill text-sm-center nav-link" href="{% url 'dashboard_amount' %}">Amount details</a>
                    <a style="color: #007BFF" class="flex-sm-fill text-sm-center nav-link" href="{% url 'list_message' %}">Messages</a>
                </nav>
            </div>
            <div class="container-fluid" style="padding-top: 50px">
                <div class="row" style="padding-left: 20px;padding-bottom: 20px">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu">
                                <h6>{{ total }} Orders Found</h6>
                            </div>
                            <div class="single_product_menu d-flex">
                                <h6>Status:</h6>
                                {% if request.GET.status == 'pending' %}
                                    <a href="?status=none">
                                       <ul><strong style="color: #000000;padding-left: 8px;text-decoration: underline">Pending to return</strong></ul></a>
                                {% else %}
                                    <a href="?status=pending"
                                       style="color: #999999;padding-left: 8px">Pending to return</a>
                                {% endif %}
                            </div>
                            <div class="single_product_menu d-flex">
                                <nav aria-label="...">
                                    <ul class="pagination">
                                        {% if all_orders.has_previous %}
                                            <li class="page-item ">
                                                <a class="page-link" href="?page={{ all_orders.previous_page_number }}">Previous</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1">Previous</a>
                                            </li>
                                        {% endif %}
                                        {% for num in all_orders.paginator.page_range %}
                                            {% if all_orders.number == num %}
                                                <li class="page-item active">
                                                    <a class="page-link">{{ num }} <span
                                                            class="sr-only">(current)</span></a>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if all_orders.has_next %}
                                            <li class="page-item ">
                                                <a class="page-link" href="?page={{ all_orders.next_page_number }} "
                                                   tabindex="-1">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1">Next</a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </nav>
                            </div>


                        </div>
                    </div>

                </div>

                {% if all_orders %}
                    <div class="container-fluid" style="padding-top: 5px">
                        <h3>Orders</h3>
                        <ul class="list-group list-group-flush">
                            {% for order in all_orders %}
                                <li class="list-group-item">
                                    <div>
                                        <div>
                                            <b>Order No: </b>{{ order.name }}
                                        </div>
                                        <div>
                                            <b>Date: </b>{{ order.created_date }}
                                        </div>
                                        <div>
                                            {% if order.status == 'pending' %}
                                                <b>Status: </b>
                                                <span style="color: red">{{ order.get_status_display }}</span>
                                            {% elif order.status == 'pending_approval' %}
                                                <b>Status: </b>
                                                <span style="color: blue">{{ order.get_status_display }}</span>
                                            {% else %}
                                                <b>Status: </b>
                                                <span style="color: green">{{ order.get_status_display }}</span>
                                            {% endif %}
                                        </div>
                                        <form class="contact_form" name="myForm"
                                              action={% url 'order' %} method="post">
                                            {% csrf_token %}
                                            <div style="padding-top: 10px">
                                                <input type="hidden" name="lend_order" value="{{ order.id }}">
                                                <button style="border-width: 1px;color: black" type="submit"
                                                        class="bottom_button"><i class="fas fa-eye"> view</i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
