{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- About Details Start -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>What we do</h4>
                            <p>We accept medical equipment donation from people (new or used) and list them on our website anyone who needs these products can book by paying the deposit.
                                When they return the product we will fully refund the deposit without any conditions.
                            </p>
                        </div>
                        <div class="about-details-cap mb-50">
                            <h4>Our Vision</h4>
                            <p>A caring mission with a global vision.</p>
                        </div>
                        <div class="about-details-cap mb-50">
                            <h4>Our Mission</h4>
                            <p>To develop a leading healthcare system that promotes and supports the highest standards in preventive,
                                curative and rehabilitative healthcare, regionally and internationally.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock content %}
