{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container" style="padding-top: 60px">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        {% if user.is_authenticated %}
                            <h3>You are already logged in</h3>
                        {% else %}
                            <h3>Reset Password<br></h3>
                            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for
                                setting a new one.</p>
                            <form class="row contact_form" name="myForm" action="" method="post">
                                {% csrf_token %}
                                <div class="col-md-12 form-group p_star">
                                    {% render_field form.email class="form-control" placeholder="Email" %}
                                </div>

                                {% for message in messages %}
                                    <p style="color: red" id="messages">{{ message }}</p>
                                {% endfor %}
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3">
                                        Reset
                                    </button>
                                </div>
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}






















