{% extends "base.html" %}
{% block content %}

    <main>
        <!--================login_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>New to our Medcare?</h2>
                                <a href="{% url 'account_signup' %}" class="btn_3">Create an Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome Back ! <br>
                                    Please Sign in now</h3>
                                <form class="row contact_form" name="myForm" action="" method="post" >
                                    {% csrf_token %}
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="username" name="username"
                                            placeholder="Username">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Password">
                                    </div>
                                    <span style="color: red;padding-left: 24px">{{message}}</span>
{#                                        <p style="color: red">{{message}}</p>#}
                                    <div class="col-md-12 form-group">
                                        <div class="creat_account d-flex align-items-center">
                                        </div>
                                        <button type="submit" value="submit" class="btn_3">
                                            log in
                                        </button>

                                    </div>
                                <div class="center" style="padding-left: 24px">
                                <a class="lost_pass" href="{% url 'reset_password' %}"><ul>forget password?</ul></a>
                                </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>

{% endblock content %}
