{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container" style="padding-top: 60px">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                    {% if form %}
                        <h3>Enter new password</h3>

                        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                        <form class="row contact_form" name="myForm" action="" method="post">
                            {% csrf_token %}
                            <div class="col-md-12 form-group p_star">
                                {% render_field form.new_password1 class="form-control" placeholder="Password" %}
                            </div>
                            <div class="col-md-12 form-group p_star">
                                {% render_field form.new_password2 class="form-control" placeholder="Password" %}
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
                            {% endif %}
                            <div class="col-md-12 form-group">

                                {#                            {{ form }}#}
                                <input type="Submit" name="Update Password">
                            </div>

                        </form>


                    {% endif %}
                    {% if not form %}
                        <h3>Token Expired!!</h3>
                    {%  endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
